/* Phoenix flash messages */
.alert:empty { display: none; }

.wrapper {
  height: 100vh;
  width: 100%:
}

.navbar {
  height: 50px;
}

#page-wrapper {
  height: calc(100% - 50px);
}

.nav>li>p {
  position: relative;

  display: block;

  margin: 0;
  padding: 10px 15px;
}

.nav>li>form>a {
  position: relative;

  display: block;

  margin: 0;
  padding: 10px 15px;
}
